name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  CLICOLOR: 1
  RUSTFLAGS: "-D warnings"

jobs:
  build:
    name: Build, lint, and test

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: cargo-${{ runner.os }}-${{ steps.toolchain.outputs.cachekey }}-${{ hashFiles('**/Cargo.toml') }}
      - name: Build
        run: cargo build --verbose
      - name: Run clippy
        run: cargo clippy --verbose
      - name: Run tests
        run: cargo test --verbose

  formatting:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup toolchain
        id: toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --verbose --all --check

  spelling:
    name: Spell checking
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check spelling
        uses: crate-ci/typos@v1

  markdownlint:
    name: Markdown lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint markdown files
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: "**/*.md"

  copyright:
    name: Check copyright statement
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            LICENSE-MIT
          sparse-checkout-cone-mode: false
      - name: Check that current year is included in the copyright statement
        env:
          LC_ALL: C.UTF-8
        run: |
          grep -q "^Copyright.*[[:space:]-]$(date +%Y)[[:space:]]" LICENSE-MIT
